**.md
log/**
.ropeproject/*
**.~lock.reqs.pptx#
**__pycache__**
**.pyc
src/.ipynb_checkpoints/**
**.log
**ignore
.git/**

src/*_test.py

**.ipynb
.venv/**
Dockerfile
uv.lock
docker-compose.yaml
*.sql
